


<% @survey_questions.each do |k,surveytitle| %>
  <% if surveytitle.kind_of?(String) %>
    <%= surveytitle %>
  <%else%>
    <% surveytitle.each do |all_questions| %>
      <% all_questions.each do |k,q| %>
        <% q.each do |q,o| %>
          <p><%= q %></p>
          <% o.each do |o, options| %>
            <% options.each do |k,v| %>
              <%= v class=glsjd'l%>
            <%end%>
          <%end%>
        <%end%>
      <%end%>
    <%end%>
  <%end%>
<%end%>
<% form_for @survey, url: new_page_path do |f| %>

<%= f.submit "submit" %>

<% end %>